body{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one{
    display: flex;
    background:#1f2937;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:30px 175px;
}

.header .left{
    font-weight: bolder;
    font-size: 24px;
    color: #f9fAf9;
}

.header .right a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.one .content{
    display: flex;
    padding:50px 175px 50px 175px ;
    gap:50px;
}

.one .head{
    margin-bottom: 10px;
}
.one .subtext{
    margin-bottom: 16px;
}

.one .content .signup .head{
    font-weight: bolder;
    font-size: 50px;
    color: #f9fAf9;
}

.one .content .signup .subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.one .image{
    background-color: #6d747d;
    padding: 50px 150px ;
    flex:1;
}

.one ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    gap:16px;
}

.one button{
    border: none;
    background: #3882f6;
    padding: 8px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: .5rem;
    color: #e5e7eb;
}

.two{
    background:#ffffff;
    display: flex;
    flex-direction: column;
    padding: 50px 175px 100px 175px;
}

.two .head{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 52px;
}
.two .content{
    display: flex;
    justify-content: center;
    gap:60px;
    flex-wrap: wrap;
}

.two .content .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.two .content .info .subtext {
    text-align: center;
    color: #6d747d;
}

.two .content .info .img {
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 1rem;
    /* flex-shrink: 0; */
}



.three{
    display: flex; 
    background:#e5e7eb;
    /* flex-direction: column; */
    justify-content: center; 
    /* align-items: center; */
}

.three .whole{
    padding: 100px 175px 100px 175px;
}

.three .quote{
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: 350;
    color: #1f2937;
    justify-content: center;
    align-items: center;
}

.three .author{
    text-align: right;
    font-size: 18px;
    font-weight: bold;

}
 
.four{
    background:#ffffff;
    /* display: flex; */
    /* justify-content: center; */
    padding: 80px 175px;

    
}

.four .signup{
    display: flex;
    background: #3882f6 ;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: .5rem;
    justify-content: center;
    gap:50px;
}

.four .signup .head{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
    margin-bottom: 2px;
}

.four .signup .subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.four .signup button{
    border: 2px solid;
    background: #3882f6;
    padding: 8px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: .5rem;
    color: #e5e7eb;
    border-color:#e5e7eb;
    height: 40px;
    margin-top: 10px;
}

.footer{
    background:#1f2937;
    text-align: center;
    padding: 20px;
    color: #e5e7eb;
    font-size: 18px;
} 